.block-xl.content-lg-fill.content-sm-ver
  .row.content-lg-fill
    .col-lg-6.col-sm-12.content-lg-ver
      h1.text-lg-right.text-sm-center.fade-in!= title

    .col-lg-6.col-sm-12.content-lg-ver.text-center
      - if (!pie) pie = { min: 0, max: 100 };
      - var range = pie.max - pie.min;

      .pie.scale-up
        .pie-ring
        svg.pie-ring-svg
          circle.pie-ring(cx="50%" cy="50%" r="50%")
          circle.pie-ring.pie-ring-input(cx="50%" cy="50%" r="50%")
          circle.pie-ring.pie-ring-answer(cx="50%" cy="50%" r="50%")

        .pie-ring-value.text-xxl.text-bold.content
          .text-sm: .text-sm Touch to begin


.slide-footer.slide-up
  .slide-footer-prompt!= prompt
  .slide-footer-touched
    .btn.btn-muted.btn-done OK, I'm done
